@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  // color: coral !important;
  color: $link-color !important;

  &:hover{
    color: $link-color-hover !important;
  }
}

.float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }

  50% {
    // box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }

  100% {
    // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

blockquote {
  quotes: '“' '”' '‘' '’';
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fefefe;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2E7D32;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00DC82;
}
